--extra-index-url https://download.pytorch.org/whl/cpu

datasets<4.0.0
hdbscan
matplotlib
numpy
openTSNE
pacmap
pandas
plotly
pyarrow
scikit-learn
seaborn
sentence-transformers==3.3.1
transformers==4.46.3
torch==2.5.1+cpu
tqdm
umap-learn
vaderSentiment
nbformat>=4.2.0